/*   ---   GENERAL   ---   */
section>h3{
	padding: 0.7em;
	border-left: 0.3em solid #FF9600;
}

p{
	margin: 0;
}

.thumbnail{
	border: none;
	margin: 0;
}

@media (min-width: 768px) {
	.container{
		width: 700px;
	}
}

@media (min-width: 992px) {
	.container{
		width: 900px;
	}
}

@media (min-width: 1200px) {
	.container{
		width: 1100px;
	}
}

.no-padding{
	padding: 0;
}

#bouton {
		background-color	: lightyellow;
		width: 100px;
		height: 50px;
		display: block;
		border: 1px solid yellow;
		margin: 5px;
		text-align: center;
}

/*   ---   HEADER   ---   */
/* cookie */
#cookie{
	width: 100%;
	background: rgb(222, 227, 235) none repeat scroll 0% 0%;
	margin: 0px auto;
	left: 0px;
	bottom: 0px;
	padding: 15px 2%;
	color: rgb(0, 0, 0);
	z-index: 3;
	text-align: center;
}

#cookie .cookie-span{
	color:#5f738e;
}

#cookie .cookie-link{
	color: #5F738E;
	text-decoration: underline;
}

#cookie-dismiss{
	margin-left: 24px;
}

/* recherche*/
#recherche {
	height: 80px;
	line-height: 80px;

}
#recherche .barre-go{
	position: relative;
}
#recherche .input-group{
	position:absolute;
	top:50%;
	margin-top: 25px;
}
#recherche .input-group input{
	 border-radius: 3vh 0 0 3vh;
   background-color: #EFEEEE;
	 border:none;
}
#recherche .input-group span{
	padding: 0 40px;
	border-radius: 0 3vh 3vh 0;
	background-color: #252525;
	border:none;
	color:white;
}
#recherche .login{
	background-color: #FF9200;
	border-radius: 0;
	color:white;
	font-weight: bold;

	padding: 7px 30px;

}

/*barre de navigation*/
#home{
   background-color: #FF9200;
	 color:white;
  border-radius: 0;
	border:none;

}

#home a{
	color:white;
}

#home a:hover{
	background-color: #252525;
}

#home ul{
	width: 100%;
}

#home .link{
	width: 16%;
	border-right: 1px solid white;
}
#home .active a{
	background-color: #252525;
}
#home .dropdown-menu{
	background-color: #FF9200;
}

/* Jumbotron */
#jumbotron .item>div{
	height: 500px;
}
#jumbotron .swissarmyman{
	background-image: url('../img/swissarmyman-carousel.jpg');
	background-size: cover;
}

#jumbotron .batman{
	background-image: url('../img/batman-carousel.jpg');
	background-size: cover;
}

#jumbotron .intouchables{
	background-image: url('../img/intouchables-carousel.jpg');
	background-size: cover;
}

#jumbotron .patientanglais{
	background-image: url('../img/lepatientanglais-carousel.jpg');
	background-size: cover;
}

#jumbotron .inception{
	background-image: url('../img/image.jpeg');
	background-size: cover;
}

#jumbotron .hauteur{
	height: 100px;
}

#jumbotron .nav>li>a{
	padding: 0;
}

#jumbotron .resume{
	height: 500px;
}

#jumbotron .resume .row{
	height: 100px;
	background-color: #252525;
	margin: 0;
}

#jumbotron img{
	width: 100%;
}

#jumbotron p{
	text-align: left;
	font-size: 10px;
	padding: 4px;
	margin: 0;
	color: white;
}

#jumbotron h5{
	text-align: left;
	padding: 4px;
	margin: 0;
	color: #FF9200;
}

#jumbotron .carousel-caption{
	padding: 0;
	bottom: 0;
}
#jumbotron .glyphicon-control{
	background-color:#252525;
	padding: 0;
	border-radius: 2vh ;
	font-size: 20px;
	line-height: 30px;
}
footer .footercontainer {
	background-color: #252525;
}
footer h4{
	text-align:left;
	padding:4px;
	color:#ff9200;
}
footer .logo{
	width:25%;
  background-color: white;
}
footer .mail {
	padding: 0 ;
	background-color:;
	border-bottom: 2px solid;
	color:white;

}
footer .input-group {
	border:1px solid #6b6b6b;
	padding:4px;
}
footer .form-control, footer .btn{
	padding:2px 12px;
	height:26px;
	border-radius: 0;
}
footer .btn{
	background-color: #ff9200;
	color:white;
}
footer .col-md-10{
	margin: 15px 0;
}
footer .row{
	padding:25px 0;

}
footer .first-row{
	border-bottom: 1px solid #6b6b6b;
}
footer p{
	color:#6b6b6b;
}
footer a{
	color:white;
	font-size: 12px;
	padding:0 4px;
}

/*   ---  LA UNE   ---   */ 
.une{
	display: flex;
	align-items: center;
	border: 1px solid #BCBCBC;
	border-radius: 0.3em;
	padding: 15px;
}

.une>.thumbnail{
	padding: 1em;
}

.thumbnail>.caption{
	padding: 0.5em 0;
}

.genre{
	font-size: 0.9em;
}

/*   ---   FEATURED MOVIES   ---   */
#featured-movies>.row{
	margin: 20px 0 0 0;
}

.btn-group>button, .btn-more{
	padding: 0.6em 2.5em;
	background-color: #F3F0F2;
	border: none;
}

.btn-group>.active, .btn-more{
	color: white;
	background-color: #FF9600;
}

.btn-more{
	font-weight: bold;
}

#featured-movies .col-md-2{
	padding: 0;
}

#featured-movies h5{
	text-align: center;
	margin: 0;
}

/*   ---   SHOP MOVIES   ---   */
.price{
	color: #FF9200;
}

.trailer{
	background-color: #FF9200;
	font-weight: bold;
}

.trailer h4{
	margin: 30px 0;
}

.trailer .row{
	margin: 5px 0;
	font-size: 12px;
}

.trailer .col-md-3, .trailer .col-md-1{
	color: #252525;
	padding: 0;
}

.trailer .col-md-8{
	color: white;
	line-height: 16px;
}


/*   ---   CONTACT US   ---   */
#contact{
	margin-bottom: 30px;
}

.col-contact{
	width: 100%;
	height: 200px;
	color: white;
	background-color: #252525;
}

.col-contact>i{
	position: relative;
	display: block;
	top: -0.9em;
	width: 1.8em;
	height: 1.8em;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
	line-height: 1.8em;
	border-radius: 0.9em;
	background-color: #FF9200; 
}

.col-contact a{
	color: white;
}


.content-contact{
	position: absolute;
	top: 0;
	padding: 10%;
}

.content-contact ul{
	list-style: none;
	font-size: 0.9em;
	padding-left: 0;
}

.content-contact li{
	padding: 6px 0;
}

.social-media li{
	padding: 3px 0;
}

.social-media a{
	line-height: 30px;
	display: inline-block;
}

.social-media i{
	text-align: center;
	vertical-align: top;
	line-height: 31px;
	width: 30px;
	background-color: rgba(0, 0, 0, 0.2);

}

.social-media h5{
	display: inline-block;
	margin: 0;
	width: 100px;
	padding-left: 10px;
	line-height: 30px;
}

.form-contact{
	margin-top: 45px;
}

.form-contact .row{
	margin-bottom: 20px;
}

.form-contact .btn{
	color: white;
	background-color: #252525;
	border-radius: 0;
}



/*   ---   ICONS ASIDE   ---   */
aside{
	position: fixed;
	top: 20%;
}

aside a{
	width: 150px;
	margin-left: -110px;
	margin-bottom: 5px;
	display: block;
	text-align: right;
	line-height: 40px;
	color: white;
	border-radius: 0 20px 20px 0;
	transition: margin-left 1s;
}

aside a:hover{
	margin-left: 0px;
	color: white;
}

aside h5{
	display: inline-block;
	font-weight: bold;
	text-align: center;
	width: 117.5px;
}

aside .fa{
	background-color: white;
	line-height: 25px;
	width: 25px;
	margin-right: 7.5px;
	color: #252525;
	text-align: center;
	border-radius: 12.5px;
}

.tweet{
	background-color: #4C84F9;
}

.fb{
	background-color: #4F4B95;
}

.basket{
	background-color: #F9008A;
}

.ggl{
	background-color: #ED3937;
}