#bio{
  background-image: url('../images/village.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 555px;
  width: 100%;
}

#bio li{
  display: inline-block;
}
#bio img{
  width: 200px;
  height: 200px;
}

body{
	background-image: url('../img/village2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.all-content{
	height: 555px;
}

header .nav-tabs{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
}

header li{
	background-color: white;
}