#bio{
  background-image: url('../images/village.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 555px;
  width: 100%;
}

#bio li{
  display: inline-block;
}
#bio img{
  width: 200px;
  height: 200px;
}

#home{
	background-image: url('../img/village2.jpg');
	min-height: 555px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
